"node_modules/" 
"**/node_modules/" 
"__pycache__/" 
".vs/" 
".vscode/" 
"backend/__pycache__/" 
"backend/package-lock.json" 
"koncept-k-kresliri/package-lock.json" 
"frontend/node_modules/" 
"frontend/package-lock.json" 
"frontend/node_modules/" 
"frontend/node_modules/.vite/" 
"frontend/node_modules/" 
"frontend/node_modules/.vite/" 
/frontend/node_modules
/frontend/package-lock.json
/.vscode
/.vs
/backend/__pycache__
/backend/package-lock.json
